# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env
*.env

# Virtual environment
venv/
env/
envs/
.venv/

# Static build artifacts
staticfiles/
**/staticfiles/admin/

# Node/Tailwind
node_modules
theme/node_modules/
theme/static/css/dist/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Tests / Coverage
.Coverage
coverage.*
htmlcov/
.pytest_cache/
.tox/

# Packaging
build/
dist/
*.egg-info/
